html {
    background-color: grey;    
}
body {
    margin-top: 0;
    font-family: Gill Sans, sans-serif;
    font-size:120%;
    width: 760px;
    height:300px;
    margin: 0 auto;
    background-color: darkturquoise;
    border: 1px solid #001963;
    padding: 0px;
}
header {
    
    background-color:snow;
    margin: 0;
    border-bottom: 2px solid black;
    padding: 0;
}
header h1 {
    font-family: marker-felt,fantasy;
    color: black;
    margin: 0;
    padding: 10px;
    text-align: center;
}

body h1 {
    font-family: marker-felt,fantasy;
    font-size:180%;
    margin-left:30px;
    text-align: center;
    margin-top:10px;
    
}

.lefted1{
    margin-left: 90px;
    margin-bottom:10px;
    
}
.lefted2{
    margin-left: 90px;
    margin-bottom:10px;
}
.lefted3{
    margin-left: 90px;
    margin-bottom:10px;
}
.lefted4{
    margin-left: 90px;
    margin-bottom:10px;
    margin-top: 10px;
    align-content: center;
    font-family: Gill Sans, sans-serif;
    font-size:120%;
}

.lefted5{
    margin-left: 10px;
    margin-bottom:10px;
}
.lefted6{
    margin-left: 30px;
    margin-bottom:10px;
}

.lefted7{
    margin-left: 26px;
    margin-bottom:10px;
}
.lefted8{
    margin-left: 27px;
    margin-bottom:10px;
}
.lefted9{
    margin-left: 49px;
    margin-bottom:10px;
}
.lefted10{
    margin-left: 40px;
    margin-bottom:10px;
}

.lefted11{
    margin-left: 70px;
    margin-bottom:10px;
}
.lefted12{
    margin-left: 70px;
    margin-bottom:10px;
}

.lefted13{
    margin-left: 70px;
    margin-bottom:10px;
}
